@media screen and (max-width: 480px) {
    * {
        padding: 0px;
        /* background-color: #344e41; */
    }

    
    .hero {
        padding-top: 100px;
        border: 2px solid #dcdcdc;
    }

    .title {
        font-size: 2rem;
        text-align: center;
        color: black;
    }

    .sub-title {
        font-size: 1.6rem;
        color: black;


    }

    .hero-content{
        margin-bottom: 40px;
    }

    .hero-content>p {
        font-size: 1rem;
        text-align: center;
        width: auto;
        color: black;

    }

    .posts-section{
        background: none;
    }

    .post-container{
        padding: 20px 0px;
    }

    .post-container>ul {
        grid-template-columns: auto;
        padding: 0px;
        justify-content: center;
        gap: 60px;
        top: 50px;
        width: 100%;

    }

    .post-container>ul>li{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        box-shadow: none;
        border-radius: 0%;
        border: 2px solid #dcdcdc;
        gap: 30px;
    }

    .post-card{
        display: flex;
        flex-direction: column;
       
    }

    .post-right{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-right>img{
        width: 100px;
        aspect-ratio: 1;
        box-shadow: none;
        object-fit: contain;
    }

    .post-left{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .author{
        display: inline;
        position: relative;
        width: auto;
        font-weight: 500;
    }

    .author-date-container{
        display: flex;
        gap: 10px;
    }

    .published-date{
        display: flex;
        gap: 5px;
    }

    .post-title{
        font-size: 1.2rem;
    }

    .post-heading {
        font-size: 1.2rem;
        border-radius: 0%;
        background-color: #22577a;
    }

    .not-login-section {
        margin: 10px;
    }

    .not-login-section>h1 {
        font-size: 6rem;
        letter-spacing: 5px;
    }

    .not-login-section>p {
        font-size: 1.2rem;
    }


    .heading-search-container{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }

    .search-bar-container{
        display: flex;
        gap: 20px;
    }

    .search-bar-container>input{
        padding: 4px;
        outline: #22577a;
    }
    .search-bar-container>span{
        display: flex;
        justify-content: center;
        align-items: center
        ;
    }

    #search-icon{
        font-size: 1.2rem;
        color: #22577a;
    }

    #search-icon:hover{
        color: #0084db;
    }

    .loader-container{
        display: flex;
    }

    .no-res-found-container{
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .no-res-found-container>img{
        width: 100px;
        object-fit: contain;
    }
    .no-res-found-container>div{
        font-size: 1.5rem;
    }

    #load-more,.login-btn,#login-btn{
        width: 90px;
        height: 30px;
        font-size: 0.9rem;
        font-weight: normal;
        background-color: #22577a;
        border: 2px solid #22577a;
        border-radius: 5px;
        color: white;
    }

    .login-btn{
        width: 150px;
        height: 50px; 
        font-size: 1.2rem;  
    }

    #login-btn>a{
        color: white;
    }

    #login-btn>a:hover{
        font-size: 1rem;
        background-color: #0084db;
        color: white;
    }

    .not-login-section>button:hover{
        background-color: #0084db;
        border: 2px solid #0084db;
        color: white;
    }
    #load-more:hover{
        background-color: #0084db;
        border: 2px solid #0084db;
    }
}