@media screen and (max-width: 480px) {
    *{
        padding: 0px;
    }

    .main{
        background-image: url("../assests/bg.avif");
    padding-top: 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    ;
    }

    .hero{
        padding-top: 100px;
    }

    .title{
        font-size: 1.5rem;
        text-align: center;
    }

    .sub-title{
        font-size: 1rem;
    
    }

    .hero-content>p{
        font-size: 0.7rem;
        text-align: center;
        width: 70%;
    }

    .post-heading{
        font-size: 1.2rem;
        width: 110px;
    }

    .not-login-section{
        margin: 10px;
    }

    .not-login-section>h1{
        font-size: 6rem;
        letter-spacing: 5px;
    }

    .not-login-section>p{
        font-size: 1.2rem;
    }

    .post-container>ul{
        grid-template-columns: auto;
        padding: 20px;
        justify-content: center;
    }

    #avatar{
        width: 150%;
        margin: 0px;
    }

}