* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: black;
    font-family: "Open Sans", "sans-serif";
}

body {
    padding: 0px 40px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.h-icon {
    display: none;
}

/* hero section styling */


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    padding-top: 100px;
    border-bottom: 2px solid #dcdcdc;

}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 100px;
}

.title {
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
}

.sub-title {
    color: black;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-content>p {
    text-align: center;
    color: black;
    font-size: 1rem;
    width: 50%;
}


/* post section styling */

.posts-section {
    background: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post-container {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.post-container>ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: center;
    gap: 60px;
    width: 100%;

}

.post-container>ul>li {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
    border-radius: 0%;
    border: 2px solid #dcdcdc;
    padding: 20px;
    gap: 100px;
    cursor: pointer;
}

.post-card {
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.post-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-right>img {
    width: 100px;
    height: 100px;
    box-shadow: none;
    object-fit: contain;
}

.post-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.author {
    display: flex;
    position: relative;
    width: auto;
    font-weight: 500;
    overflow-wrap: anywhere;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.author-date-container {
    display: flex;
    gap: 5px;
}

.published-date {
    display: flex;
    gap: 5px;
    font-size: 16px;
}

.post-title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.post-heading {
    font-size: 24px;
    border-radius: 0%;
    background-color: #22577a;
    padding: 0px;
    margin: 0px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.keywords {
    font-size: 12px;
}

.heading-search-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.search-bar-container {
    display: flex;
    gap: 20px;
}

.search-bar-container>form>input {
    padding: 4px 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    width: 40vw;
    outline: #22577a;

}

.search-bar-container>input {
    padding: 4px;
}

.search-bar-container>span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#search-icon {
    font-size: 1.2rem;
    color: #22577a;
}

#search-icon:hover {
    color: #0084db;
}


.no-res-found-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.no-res-found-container>img {
    height: 200px;
    width: 200px;
}

.no-res-found-container>div {
    font-size: 2rem;
}

.loader-container {
    width: 100%;
    display: none;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.loader-visible {
    display: flex;
}



.loader {
    width: 48px;
    height: 48px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* .sub-disable-btn{
    background: black;
} */


/* not login section */

.not-login-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.not-login-section>h1 {
    font-size: 3rem;
    font-weight: 600;
}

.not-login-section>p {
    font-size: 1.6rem;
    font-weight: 600;
}

#not-login-section>button {
    margin-top: 20px;
    background-color: #22577a;
    border: 2px solid #22577a;
    color: white;
}

#not-login-section>button:hover {
    background-color: #38a3a5;
    border: 2px solid #38a3a5;
    color: white;
}



#load-more {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #22577a;
    color: white;
    border: 2px solid#22577a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}




#load-more:hover {
    background-color: #38a3a5;
    border: 2px solid #38a3a5;

}

#login-btn>a:hover {
    font-size: 1.2rem;
    color: rgb(39, 39, 39);
}

.not-login-section>button:hover {
    background-color: #4d81fb;
    border: 2px solid #4d81fb;
    color: rgb(39, 39, 39);
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}


.load-more-btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 40px 0px;
}

#load-more {
    display: none;
}

.load-more-loader-container {
    display: none;
}