* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", "sans-serif";
}

body {
    overflow-x: hidden;
    background-color: #fff;
    padding: 0px 80px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.h-icon {
    display: none;
}

/* user-info */

.dynamic-data {
    margin-top: 0px;
}

.user-info-section {
    display: none;
    padding: 0px;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #dcdcdc;
    border-left-color: transparent;
    border-right-color: transparent;
}

.user-img-title-container {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.user-img-title-container>span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img-title-container>span>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: contain;
}

.username {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.username-follower-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.username-follow-btn-container {
    display: flex;
    gap: 10px;
}

.username {
    font-size: 1.1rem;
    font-weight: 400;
}

.follow-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

.follow-btn-container>span {
    color: green;
    cursor: pointer;
}

#follow-loader>span {
    height: 20px;
    width: 20px;
    border-width: 2px;
}



/* post section */

.post-section {
    display: none;
    flex-direction: column;
    gap: 20px;
}




.title-container {
    display: flex;
    padding: 20px;
    margin: 0px;
}

.title-container>h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    color: black;
}

.img-container {
    padding: 10px;
    margin: 0px;
    box-shadow: none;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container>img {
    object-fit: contain;
    width: 50%;
}

.content-container {
    padding: 0px;
}


.u-content-container {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #dcdcdc;
}

#content {
    display: flex;
    flex-direction: column;
    font-size: unset;
    gap: 40px;
}

.loader-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#follow-loader {
    display: none;
    margin: 0px;
    padding-left: 0;
}

.loader-visible {
    display: none;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.not-login-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.not-login-section>h1 {
    font-size: 8rem;
    letter-spacing: 20px;
    line-height: 140px;
}

.not-login-section>p {
    font-size: 1.6rem;
    font-weight: 800;
}

.login-btn {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #0648dd;
    color: white;
    border: 2px solid#0648dd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

#login-btn {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
    margin: 0px;
}

#login-btn:hover {
    background-color: #4d81fb;
    border: 2px solid #4d81fb;

}

#login-btn>a:hover {
    font-size: 1.2rem;
    color: rgb(39, 39, 39);
}

.not-login-section>button:hover {
    background-color: #4d81fb;
    border: 2px solid #4d81fb;
    color: rgb(39, 39, 39);
}

.err-info {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 2rem;
}