@media screen and (max-width: 480px) {
    * {
        font-family: "Open Sans", "sans-serif";
    }

    body {
        padding: 0px;
    }

    .dynamic-data {
        margin-top: 0px;
    }

    .post-section {
        gap: 0px;
    }

    .post-container {
        background-color: unset;
    }

    .title-container {
        display: flex;
        padding: 20px;
        margin: 0px;
    }

    .title-container>h1 {
        font-size: 24px;
        margin-top: 40px;
        color: black;
        margin: 0px;
        text-align: left;
    }

    .user-info-section {
        padding: 0px;
    }

    .user-info {
        background-color: unset;
        background: none;
        box-shadow: none;
        padding: 0px 20px;
        border: none;
    }

    .user-img-title-container {
        gap: 10px;
    }

    .user-img-title-container>span {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-img-title-container>span>img {
        width: 50px;
        object-fit: contain;
    }

    .img-container {
        padding: 10px;
        margin: 0px;
        box-shadow: none;
        border-radius: 0%;
    }

    .img-container>img {
        border: 2px solid #dcdcdc;
        border-radius: 0%;
        width: 100%;
    }


    .published-date>span {
        font-size: 0.8rem;
        color: #636363;
    }


    .err-info {
        display: none;
        text-align: center;
        margin-top: 50%;
    }

    .username-follower-container {
        padding: 10px 0px;
    }

    .username-follow-btn-container {
        display: flex;
        gap: 5px;
    }

    .follow-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .follow-btn-container>span {
        color: green;
    }

    .follow-loader-container {
        position: relative;
        width: unset;
        padding: 0px;
    }

    .follow-loader-container>span {
        width: 20px;
        height: 20px;
        border: 2px solid black;
        border-bottom-color: transparent;
        aspect-ratio: 1;

    }

    .content-container {
        padding: 0px;
    }


    .u-content-container {
        padding: 10px;
        margin-bottom: 20px;
        border-bottom: 2px solid #dcdcdc;
    }

    #content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: unset;
    }
}