@media screen and (max-width: 480px) {

    .main{
        background-color:#0451df ;
        padding: 10px 0px;
        border-bottom-left-radius:0%;
        border-bottom-right-radius: 0%;
    }
    
    #avatar-li>img{
        width: 150%;
        margin: 0px;
    }

    .username{
        font-size: 2rem;
    }

    .follower-container>span{
        color: white;
        font-size: 1rem;
    }

    .hero-content{
        width: 100%;
        padding: 0px 20px;
    }

    .hero-content>p{
        font-size: 1rem;
        min-width: 0%;
        min-height: 0%;
        width: 100%;
        max-width: 400px;
        padding: 10px;
    }

    #edit-bio-textarea{
        font-size: 1rem;
        min-width:0%;
        min-height: 100px;
        padding: 15px;
        width: 100%;
        resize: vertical;
    }

    .post-container>ul{
        grid-template-columns: auto;
        padding: 20px;
        justify-content: center;
    }

    .edit-bio-btn:hover{
        color: black;
        background-color: white;
    
    }
    .cancel-bio-btn:hover{
        color: black;
        background-color: white;
    
    }
}