@media screen and (max-width: 480px) {
    * {
        font-family: "Open Sans", "sans-serif";

    }

    .username {
        font-size: 2rem;
        color: black;
    }

    .follower-container>span {
        color: black;
        font-size: 1rem;
    }

    .hero-content {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    #profile-img {
        object-fit: contain;
    }

    .hero {
        padding: 40px 20px;
        border: 2px solid #dcdcdc;
    }


    .hero-content>p {
        font-size: 1rem;
        min-width: 0%;
        min-height: 0%;
        width: 100%;
        max-width: 400px;
        padding: 10px 0px;
        box-shadow: none;
        justify-content: center;
    }

    #edit-bio-textarea {
        font-size: 1rem;
        min-width: 0%;
        min-height: 100px;
        padding: 15px;
        width: 100%;
        resize: vertical;
        box-shadow: none;
        border: 2px solid #dcdcdc;
        margin-bottom: 20px;
    }

    .post-container {
        padding: 20px 0px;
    }

    .post-container>ul {
        grid-template-columns: auto;
        padding: 0px;
        justify-content: center;
        gap: 60px;
        top: 50px;
        width: 100%;
    }

    .post-container>ul>li {
        padding: 10px;
        gap: 30px;
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: none;
        border-radius: 0%;
        border: 2px solid #dcdcdc;
    }

    .post-card {
        display: flex;
        flex-direction: column;

    }

    .post-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-right>img {
        width: 100px;
        aspect-ratio: 1;
        box-shadow: none;
        object-fit: contain;
    }

    .post-left {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .author {
        display: flex;
        position: relative;
        width: auto;
        font-weight: 500;
        overflow-wrap: anywhere;
        font-size: 12px;
        justify-content: center;
        align-items: center;
    }

    .author-date-container {
        display: flex;
        gap: 5px;
    }

    .published-date {
        display: flex;
        gap: 5px;
        font-size: 12px;
    }

    .post-title {
        font-size: 18px;
        font-weight: 700;
        text-align: left;
    }

    .post-heading {
        font-size: 12px;
        border-radius: 0%;
        background-color: #22577a;
        padding: 0px;
        margin: 0px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }

    .keywords {
        font-size: 12px;
    }

    .edit-bio-btn {
        display: none;
    }

    .edit-bio-btn:hover {
        color: black;
        background-color: white;

    }

    .cancel-bio-btn {
        display: none;
    }

    .cancel-bio-btn:hover {
        color: black;
        background-color: white;

    }

    .save-cancel-btn-container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        gap: 20px;
    }

    .save-cancel-btn-container>span {
        font-size: 18px
    }

    .heading-search-container {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }

    .search-bar-container {
        display: flex;
        gap: 10px;
    }

    .search-bar-container>form>input {
        padding: 4px 10px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
    }

    .search-bar-container>input {
        padding: 4px;
        outline: #22577a;
    }

    .search-bar-container>span {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-btn {
        display: none;
    }

    .refresh-err-info {
        display: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .no-res-found-container {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .no-res-found-container>img {
        width: 100px;
        object-fit: contain;
    }

    .no-res-found-container>div {
        font-size: 1.5rem;
    }

    .load-more-btn-container {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0px;
    }

    #load-more {
        width: 90px;
        height: 30px;
        font-size: 0.9rem;
        font-weight: normal;
        background-color: #22577a;
        border: 2px solid #22577a;
        border-radius: 5px;
        color: white;
        display: none;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }

    #load-more:hover {
        background-color: #0084db;
        border: 2px solid #0084db;
    }

    #load-more-loader {
        display: none;
    }

    .edit-del-container {
        display: flex;
        gap: 10px;
    }

    .edit-del-container>span {
        font-size: 16px;
    }

    .follow-btn-container {
        display: flex;
        gap: 10px;
    }

    #follow-btn {
        font-size: 1.2rem;
        color: #22577a;
        display: none;
    }

    #follow-loader {
        display: none;
    }

    .follow-loader-container>span {
        height: 24px;
        width: 24px;
        border-width: 2px;
    }
}